[submodule "cab fare model"]
    path = cab fare model
    url = git@github.com:sandipan-2023/cab_fare_model.git

[submodule "Netflix Recommender System"]
    path = Netflix Recommender System
    url = git@github.com:sandipan-2023/cab_fare_model.git

[submodule "Rainfall prediction"]
    path = Rainfall prediction
    url = git@github.com:sandipan-2023/cab_fare_model.git

[submodule "Spam filter based on personal SMS data"]
    path = Spam filter based on personal SMS data
    url = git@github.com:sandipan-2023/cab_fare_model.git

